img {
    width: 200px;
}
#grid {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    position: relative;
    top: 25px;
    left: 25%;
    width: 600px;
}
#score {
    font-size: 28px;
    font-weight: bold;
    font-family: Cambria, serif;
    text-align: center;
    margin-top: 15px;
}

.space {
    border: 1px solid black;  
    width: 200px;    
}